.app-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
}

.title {
  align-self: flex-start;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 20px;
}


